/**
 * The following styles get applied inside the editor only.
 *
 */

.editor-styles-wrapper {
	.wp-block-cll-customer-logo-list {
		&.has-background {
			background-color: unset !important;
		}
	}
}

.wp-block-cll-customer-logo-list {
}
