/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-cll-customer-logo-list {
	position: relative;
	display: flex;
	align-items: flex-start;
	gap: var(--wp--style--block-gap);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		padding: 0;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	img {
		display: none;
		object-fit: contain;

		&:first-child {
			display: block;
		}
	}

	.clients {
		padding: 1rem;
		gap: 0;
		flex: 1;

		@media (min-width: 992px) {
			flex-basis: 70%;
		}
	}

	.logos {
		display: none;
		align-items: center;
		justify-content: center;
		flex-basis: 30%;
		padding: 1rem;

		@media (min-width: 992px) {
			display: flex;
		}
	}

	.empty-message {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 200px;
		font-size: 3.5rem;
	}
}
